.bigCard{
    height:360px;
    width:250px;
    background-color: #0000004D;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bigCard a{
    width:100%;
    height:70%;
    background-color: white;
}

.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textContainer{
    margin-left: 1vw;
    margin-bottom: 1vh;
    width: 80%;
    word-break: break-all;
}

.foodText{
    font-size: 18px;
    font-weight: bold;
}

.subText{
    font-size: 12px;
}

.addButton{
    background-color: #FDD000;
    border:none;
    font-size: 30px;
    width:20%;
    margin-left: 2vw;
    border-top-left-radius: 20px;
    color:white;
}