@font-face {
  font-family: 'Boiling';
  src:url(/src/assets/fonts/Boiling-BlackDemo.ttf) format('truetype');
}

body{
    background-color:  #F2EFE2;
    height:inherit ;
}

.home{
  width:100vw;
}

.firstSection{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width:100vw;
    height:100vh;
    padding-top: 2vh;
}

.homeTitle{
  background-image: url(/src/assets/icons/cafe-white.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-self: flex-start;
  margin-top:10vh;
  margin-left: 8vw;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Boiling';
  font-size: 72px;
  font-weight: bolder;
}

.italic{
  font-style: italic;
  font-size:18px;
  color: #E3A765;
}

.titleButton{
  width:25%;
  height:20px;
  background-color: #FDD000;
  border:none;
  border-radius: 5px;
}

.pizzaBG{
  position: absolute;
  right:-20%;
  bottom:5%;
  width:53.9608vw;
  height:79.102vh;
  object-fit: fill;
  z-index: -1;
}

.upArrow{
  width: 8.27vw;
  height: 14.71vh;
  transform: rotate(-163.82deg);
  position: absolute;
  bottom:10%;
  right:29%;
}

.italicAbsolute{
  position: absolute;
  bottom:8%;
  right:33%;
  font-style: italic;
  font-size:18px;
  color: #E3A765;
}

.circle{
  position: absolute;
  z-index: -2;
  background: white;
  border-radius: 50%;
  width:51.21vw;
  height:91.15vh;
  right: -10vw;
  bottom:-40vh;
}

.dots{
    display:flex;
}

.dots p{
    background-color: gray;
    height:10px;
    width:10px;
    border-radius: 20px;
    margin-left: .5vh;
    margin-right: .5vw;
    margin-top: 33vh;
}

.secondSection{
  height:100%;
  width:94%;
  margin-left:3vw;
  margin-right:3vw;
}

.topSecond{
  color:#E3A765;
  font-family: "Boiling";
  padding-top: 5vh;
  padding-bottom:5vh;
}

.smallcardContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom:8.5vh;
}

.featuredProducts{
  background-color: #F2EFE2;
  margin-left:3vw;
  margin-right: 3vw;
  border-radius:20px;
  padding-top:1vh;
  padding-bottom: 1vh;
  margin-bottom:8.5vh;
}

.topFeature{
  display: flex;
  align-items: center;
  margin-left:3vw;
  margin-right:5vw;
  justify-content: space-between;
  margin-top:2vh;
}

.topFeature h1{
  font-family: "Boiling";
  color:#E3A765;
}

.viewAllButton{
  cursor: pointer;
  background-color: #FDD000;
  border-radius: 8px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color:white;
}

.featuredButtonsContainer{
  margin-left: 3vw;
  margin-right:3vw ;
  justify-content: space-between;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.featuredButton{
  margin-right: 31px;
  cursor: pointer;
}

.featuredButton:hover{
  font-weight: bold;
  border-bottom: black 2px solid;
}

.bigcardContainer{
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.dots1{
  display:flex;
  width:100%;
  padding-left: 49%;
  margin-bottom: 2vh;
}

.dots1 p{
  background-color: gray;
  height:10px;
  width:10px;
  border-radius: 20px;
  margin-left: .5vh;
  margin-right: .5vw;
  margin-top: 3vh;
}

.reservationForm{
  color:#E3A765;
  z-index: -10;
}

.reservation{
  width:100%;
  background-color:#F2EFE2;
  margin-bottom: 10vh;
}

.topReservation{
  margin-left: 15vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.topReservation h1{
  font-family: "Boiling";
  color:#E3A765;
  font-size: 42px;
}

.mainReservation{
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
}

.resImage{
  margin-left: 2vw;
  z-index: 1;
}

/* .circle1{
  position: absolute;
  background: white;
  border-radius: 50%;
  width:51.21vw;
  height:91.15vh;
  left: -10vw;
  bottom:-275vh;
  z-index: 0;
} */

.formGroupContainer{
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  width:50%;
  align-items: center;
  object-fit: c;
}

.schedForm{
  display: flex;
  justify-content: space-between;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.schedInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.schedInputs input[type=text]{
  padding-left: 1vw;
  border:none;
  width:150px;
  height:30px;
  margin-top:10px;
  border:solid #FDD000 3px;
}

.infoForm{
  width:80%;
  
}

.infoForm input[type=text]{
  padding-left: 1vw;
  width:96%;
  height:30px;
  margin-top:10px;
  margin-bottom: 10px;
  border:solid #FDD000 3px;
}

.formButton{
  margin-top: 2vh;
  border:none;
  border-radius: 8px;
  width:80%;
  height:5vh;
  background-color: black;
  color:white;
}







/* custom scroll */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }