/* MAIN PAGE */

.order{
    width:100%;
    display: flex;
    flex-direction: column;
}

.orderheader{
    margin-left: 7vw;
}

.headerbuttons{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.orderButton{
    border:none;
    cursor: pointer;
}

.orderButtonActive{
    font-weight: bold;
    border:none;
    cursor: pointer;
}

/* DELIVER TO  */
.pagecontainer{
    background-color: black;
    border-radius: 8px;
    height: auto;
    width: 75vw;
    margin: 5vh;
    padding: 60px;
}

.forms-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentContainer{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.orderflex-container{
    display: flex;
    width:100%;
    justify-content: center;
}

.inside-flex{
    display: flex;
    flex-direction: column;
}

.forms-container label{
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
}

.forms-container input{
    border: 2px solid #fdd000;
    border-radius: 5px;
    height: auto;
    padding: 8px;
    margin-bottom: 15px;
}

.inside-flex input{
    width: 35vw;
    border-radius: 5px;
}

.customername{
    margin-right: 2vw;
}

.confirm-btn{
    margin-top: 15px;
    height: auto;
    width: 10vw;
    padding: 7px;
    background-color: #fdd000;
    color: white;
    border-radius: 5px;
    border-color: #fdd000;
}

/* ORDERS */
.orderData{
    color: white;
    padding-bottom: 10px;
}