/* sign in page */
body{
    overflow: hidden;
}

a, img, p{
    padding-bottom: 10px;
}

.container{
    margin-top: 10vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signinContainer{
    background-color: white;
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    /* overflow-y: hidden; */
}

.signinContent{
    padding: 80px;
    
}

.signinButtons{
    margin-left: 40%;
}

.selector{
    background-color: #e5e5e5;
    /* border-radius: 5px 0px 0px 5px; */
    border: solid #e5e5e5;
    width: 7vw;
    height: auto;
    padding:8px;
    font-weight: 600;
}

.selectorActive{
    background-color: #fdd000;
    /* border-radius: 0px 5px 5px 0px; */
    border: solid #fdd000;
    width: 7vw;
    height: auto;
    padding:8px;
    font-weight: 600;
}

.signinFormsContainer{
    margin-top: 10%;
    margin-left: 40%;
}

.signinForms{
    display: flex;
    flex-direction: column;
}

.signinForms input{
    border-radius: 5px;
    border:solid #fdd000;
    height: auto;
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
}

.signinBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #fdd000;
    border-radius: 5px;
    border:solid #fdd000;
    width: 8vw;
    height: auto;
    padding: 8px;
}

.errorTxt{
    color:red;
    margin-bottom:1vh;
    font-size: 12px;
}

.swalertIcon{
    overflow:hidden ;
}

